.base {
    background: rgb(17,71,43);
    background: linear-gradient(0deg, rgba(17,71,43,1) 0%, rgba(27,110,67,1) 48%, rgba(17,71,43,1) 100%);
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color: white;
 
}

.basetotal {
    margin-bottom: 5px;
    display: flex;
    padding: 10px 15px; 
   
}

.media{
    margin-left: 120px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.copy {
    background-color: #100a0a;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insta {
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}

.faceb {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.wpp {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.contact {
    display: flex;
    justify-content: center;
}

.input {
    margin-left: 180px;
    display: flex;
    height: 40px;
    gap: 15px;
    margin-top: 100px;
    justify-content: center;
    color: #ffffff;
    margin-right: 10px;
}

.send {
    cursor: pointer;
    height: 30px;
    width: 35px;
    margin-top: 5px;
}

.logo {
    margin-top: 40px;
}