.input {
    background: #b87830;
    padding: 10px;
    color: white;
    border: 0;
    outline: 0;
}

.input::placeholder {
    color: #ffffff;
    font-style: italic;
}
.fullWidth {
    width: 100%;
}